.wrap {
  width: 100%;
  height: 100%;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 85vw;
  height: 85vh;
  transform: translate(-50%, -50%);
  background-color: white;
  outline: none;
  border-radius: 30px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
